* {
    margin: 0;
    padding: 0;
}

.screen p {
    font-size: 6px;
}

.brand button {
    cursor: context-menu;
    width: 55%;
}

.keyboard button {
    display: inline-block;
    position: relative;
    transition: all .2s;
    top: 0;
}

.keyboard button:active {
    top: 3px;
    transition: all .2s;
}

